<div id="<%= dom_id user %>">
  <p>
    <strong>ユニークID:</strong>
    <%= user.uid %>
  </p>
  <p>
  <p>
    <strong>ユーザーネーム:</strong>
    <%= user.user_name %>
  </p>
  <p>
    <strong>氏:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>名:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <%= user.email %>
  </p>
    <div style="margin:20px;">
    <p>パスワードの変更は<%= link_to "こちら", "https://lp.kaihipay.jp/2/?utm_source=google&utm_medium=cpc&utm_campaign=brand&gad_source=1&gclid=CjwKCAiAx_GqBhBQEiwAlDNAZj92UYau4dmRtzPjXhIOQ0j278ClQkOJotfXbZR4-Bg0puJlZ6PIlhoC-swQAvD_BwE" %>から
    </p>
  </div>
  <div style="margin:20px;">
    <p>お支払い登録の変更は<%= link_to "こちら", "https://lp.kaihipay.jp/2/?utm_source=google&utm_medium=cpc&utm_campaign=brand&gad_source=1&gclid=CjwKCAiAx_GqBhBQEiwAlDNAZj92UYau4dmRtzPjXhIOQ0j278ClQkOJotfXbZR4-Bg0puJlZ6PIlhoC-swQAvD_BwE" %>から
    </p>
  </div>

</div>
